You will use the values of what you find in this assignment to answer questions in the quiz that follows. You may want to open this notebook to be displayed side-by-side on screen with this next quiz.

1. Write a function that inputs an integers and returns the negative

In [1]:
# Write your function here
def neg(x):
    return -x

In [3]:
# Test your function with input x
x = 4
neg(x)

-4

2. Write a function that inputs a list of integers and returns the minimum value

In [4]:
# Write your function here
def min_val(ls):
    initial = ls[0]
    for i in ls[1:]:
        if i < initial:
            initial = i
    return initial

In [6]:
# Test your function with input lst
lst = [-3, 0, 2, 100, -1, 2]
min_val(lst)

# Create you own input list to test with
lst = [-11, 10, 22]
min_val(lst)

-11

#### Challenge problem:  
Write a function that take in four arguments: lst1, lst2, str1, str2, and returns a pandas DataFrame that has the first column labeled str1 and the second column labaled str2, that have values lst1 and lst2 scaled to be between 0 and 1.

For example
```
lst1 = [1, 2, 3]
lst2 = [2, 4, 5]
str1 = 'one'
str2 = 'two'

my_function(lst1, lst2, str1, str2)
``` 
should return a DataFrame that looks like:



|  <i></i> | one | two |
| --- | --- | --- |
| 0 | 0 | 0 |
| 1 | .5 | .666 |
| 2 | 1 | 1 |

In [7]:
def conv_pd(lst1, lst2, str1, str2):
    dct = {str1: lst1, str2: lst2}
    return pd.DataFrame(dct)

In [10]:
# test your challenge problem function
import numpy as np
import pandas as pd

lst1 = np.random.randint(-234, 938, 100)
lst2 = np.random.randint(-522, 123, 100)
str1 = 'one'
str2 = 'alpha'

conv_pd(lst1, lst2, str1, str2)

    one  alpha
0   520   -341
1   -79    -54
2   488   -177
3   156   -425
4   -51   -467
5  -206     26
6   389   -301
7   762   -340
8   473   -382
9  -117   -154
10  324     47
11  523   -152
12  624   -304
13  282   -275
14  151   -406
15  681   -198
16  560   -451
17  253   -494
18  856    -71
19 -214   -496
20  296     48
21  360   -110
22  735   -125
23  828    116
24  530   -231
25  495   -263
26  331   -149
27  826    119
28  202      1
29  -66   -165
..  ...    ...
70  -62   -411
71  -77   -124
72  645    101
73   21   -438
74 -159   -297
75  279   -288
76   83   -136
77  805   -244
78  602   -105
79  475     87
80  569   -429
81 -226   -185
82  -89    -80
83  187   -246
84  651   -400
85  445   -501
86  625   -462
87  778   -216
88  679    -19
89  489     99
90  130    -42
91  406     80
92  292     -2
93  683   -283
94  -34    -29
95 -185   -276
96  770    -42
97  404     82
98  840   -510
99  347   -261

[100 rows x 2 columns]